[submodule "AnyKernel3"]
	path = AnyKernel3
	url = https://github.com/Exynos9611Development/kernel_AnyKernel3

[submodule "drivers/net/wireless/realtek/8812au"]
	path = drivers/net/wireless/realtek/8812au
	url = https://github.com/aircrack-ng/rtl8812au.git
